{% extends "frontend_base.html.twig" %}

{% block stylesheets %}
	{{ parent()}}
{% endblock %}

{% block javascripts %}
	{{ parent()}}
{% endblock %}


{# Page Meta title #}
{% set title = "Erreur inconnue" %}
{% set description = "Erreur inconnue" %}
{% set keywords = "orientesup" %}


{# Page Meta title #}
{% block title %}
	{{title}}
{% endblock %}
{% block fb_title %}
	{{title}}
{% endblock %}
{% block twitter_title %}
	{{title}}
{% endblock %}

{# Page Body class #}
{% block body_class %}
{% endblock %}

{# Page meta informations #}
{% block descriptions %}
	{{description}}
{% endblock %}
{% block schema_description %}
	{{description}}
{% endblock %}
{% block twitter_description %}
	{{description}}
{% endblock %}
{% block open_graph_description %}
	{{description}}
{% endblock %}
{% block keywords %}
	{{keywords}}
{% endblock %}

{% block og_image %}
	{{ asset('img/logo.png')}}
{% endblock %}


{% block content %}
<div class="content-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="card" data-aos="fade-up">
                <div class="card-body text-center">
                  <div class="aboutus-wrapper">
                    <h1 class="mt-5">
                      Erreur inconnue
                    </h1>
                    <p class="font-weight-600 fs-15 mb-5 mt-4">
                      Une erreur inconnue s'est produite. Si cela persiste, veuillez contactez l'administrateur du système.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
